<?xml version="1.0"?>
<robot name="walker">
  <link name="base_link">
    <visual name="body">
      <geometry>
        <cylinder length="0.5" radius="0.5"/>
      </geometry>
      <material name="green">
	     <color rgba="0 1 0 1.0"/>
	  </material>
      </visual>

      <visual name="nose">
	<origin xyz="0.5 0 0" rpy="0 0 0"/>
	<geometry>
		<box size="0.5 0.5 0.2"/>
	</geometry>
    </visual>

    </link>
</robot>
